.gradient-custom {
      /* Fallback para navegadores antiguos */
      background: #c4c4c4;
        
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right, rgba(192, 192, 192, 1), rgb(233, 231, 231));
      
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, rgba(192, 192, 192, 1), rgba(233, 231, 231));
    }
